// implementación de mapas utilizados en el main.scss

$colorContacto:(
    ubi: rgb(255, 208, 0),
    mail: rgb(255, 0, 0),
    wsp: rgb(90, 247, 0)
);

$estilos:(
    disp: flex,
    justCont: space-evenly,
    anchura: 100%
);