.contacto_texto_ubi {
  color: rgb(255, 208, 0);
}

.contacto_texto_mail {
  color: rgb(255, 0, 0);
}

.contacto_texto_wsp {
  color: rgb(90, 247, 0);
}

/* GRID TEMPLATE AREAS */
.main_header {
  grid-area: header;
}

.main_nav {
  grid-area: nav;
}

.main_content {
  grid-area: content;
}

.main_footer {
  grid-area: footer;
}

/* GRID */
.wrapper {
  display: grid;
  grid-template-areas: "header" "nav" "content" "footer";
}

@media (max-width: 500px) {
  .wrapper {
    grid-template-columns: 0.5fr 2fr;
    grid-template-areas: "header header" "nav content" "nav content" "footer footer";
  }
}

.main_header {
  background-image: linear-gradient(to bottom right, rgb(6, 243, 132) 0%, rgb(6, 243, 38) 40%, rgb(140, 243, 6) 60%, rgb(227, 243, 6) 100%);
  display: flex;
}
.main_header_img {
  width: 10vw;
  margin: 1vw;
}
.main_header_text {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5vw;
}
@media (max-width: 500px) {
  .main_header_text {
    text-align: center;
  }
}
@media (max-width: 500px) {
  .main_header .header_img_a {
    display: flex;
    justify-items: center;
    align-items: center;
    margin-left: 5%;
  }
}

.main_footer {
  width: 100%;
  color: white;
  background-color: rgb(24, 34, 29);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  bottom: 0;
  margin-top: auto;
}
.main_footer_text {
  margin-top: 1%;
}
@media (max-width: 500px) {
  .main_footer_text {
    margin-top: 5%;
  }
}
.main_footer_social_nets {
  display: flex;
}
.main_footer_social_nets #icon_social {
  margin: 10%;
}
.main_footer_social_nets .icon_tw, .main_footer_social_nets .icon_ig, .main_footer_social_nets .icon_yt {
  width: 2.5vw;
}
@media (max-width: 500px) {
  .main_footer_social_nets .icon_tw, .main_footer_social_nets .icon_ig, .main_footer_social_nets .icon_yt {
    width: 5vw;
  }
}

.main_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main_content .main_content_subtitle {
  margin-top: 2%;
  margin-bottom: 2%;
  width: 100%;
  text-align: center;
  font-size: 2vw;
}
.main_content .main_content_section1, .main_content .main_content_section2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
@media (max-width: 500px) {
  .main_content .main_content_section1, .main_content .main_content_section2 {
    display: flex;
    flex-direction: column;
  }
}
.main_content .main_content_img1, .main_content .main_content_img2 {
  margin: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  border-radius: 15px;
}
.main_content .main_content_img2 {
  width: 32vw;
  border-radius: 15px;
}
.main_content .main_content_text {
  margin: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 75%;
}

/* PROYECTOS */
.main_proyectos {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main_proyectos_subtitle {
  margin: 2%;
  width: 100%;
  text-align: center;
  font-size: 2vw;
}
@media (max-width: 500px) {
  .main_proyectos_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3%;
  }
}
.main_proyectos_section_p {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 15px;
  margin: 5%;
  padding-bottom: 2%;
}
@media (max-width: 500px) {
  .main_proyectos_section_p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 15px;
    margin: 1%;
    width: 70%;
  }
}
@media (max-width: 500px) {
  .main_proyectos_section_p #proyectos_img {
    height: 30vw;
  }
}
.main_proyectos_section_p:hover {
  box-shadow: 0 0.1rem 0.4rem rgb(0, 0, 1);
}
.main_proyectos #proyectos_text {
  margin: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
}
.main_proyectos_text2 {
  text-align: center;
}
.main_proyectos .proyectos_img_sprai {
  height: 20vw;
}
.main_proyectos .proyectos_img_detectorco2 {
  height: 10vw;
}
.main_proyectos .proyectos_img_controlpuerta {
  height: 13vw;
}
@media (max-width: 500px) {
  .main_proyectos {
    align-items: center;
  }
}

/* PRODUCTOS */
.main_productos {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 500px) {
  .main_productos .productos_section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.main_productos .productos_subtitle {
  margin: 2%;
  width: 100%;
  text-align: center;
}
.main_productos .card, .main_productos .card1 {
  display: flex;
  align-items: center;
  margin: 1%;
  margin-left: 5%;
  padding-bottom: 2%;
}
.main_productos .card {
  justify-content: center;
}
@media (max-width: 500px) {
  .main_productos .card {
    flex-direction: column;
  }
}
.main_productos .productos_card {
  display: flex;
  align-items: center;
}
@media (max-width: 500px) {
  .main_productos .productos_card #productos_img {
    margin: 5%;
  }
}
@media (max-width: 500px) {
  .main_productos .productos_card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.main_productos #productos_text {
  margin-left: 5%;
}
@media (max-width: 500px) {
  .main_productos #productos_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.main_productos .productos_img_dispelctr, .main_productos .productos_img_impresora3d, .main_productos .productos_img_pcb, .main_productos .productos_img_rpa {
  height: 20vw;
}

/* NOSOTROS */
.main_nosotros {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 500px) {
  .main_nosotros {
    display: flex;
    align-items: center;
  }
}
.main_nosotros .nosotros_subtitle {
  margin: 2%;
  width: 100%;
  text-align: center;
}
.main_nosotros .card1 {
  justify-content: space-between;
  margin-left: 2vw;
  margin-right: 2vw;
  display: flex;
}
@media (max-width: 500px) {
  .main_nosotros .card1 {
    display: flex;
    flex-direction: column;
  }
}
.main_nosotros .card1 .nosotros_text {
  width: 60%;
}
@media (max-width: 500px) {
  .main_nosotros .card1 .nosotros_text {
    padding: 15%;
    width: 100%;
  }
}
.main_nosotros .card1 .nosotros_img_equipo {
  width: 25vw;
  border-radius: 15px;
}
@media (max-width: 500px) {
  .main_nosotros .card1 .nosotros_img_equipo {
    width: 50vw;
    margin-left: 15vw;
  }
}
.main_nosotros .nosotros_section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin: 3vw;
}
@media (max-width: 500px) {
  .main_nosotros .nosotros_section {
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1vw;
  }
}
.main_nosotros .nosotros_section .card-body {
  text-align: center;
}
.main_nosotros .nosotros_section .nosotros_roles {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}
@media (max-width: 500px) {
  .main_nosotros .nosotros_section .nosotros_roles {
    height: auto;
    margin: 0%;
    padding: 0%;
  }
}
.main_nosotros .nosotros_section .nosotros_roles .nosotros_roles_item {
  display: flex;
  text-align: center;
}
.main_nosotros #nosotros {
  height: 25vw;
  width: 20vw;
  border: 1px solid black;
  border-radius: 15px;
  padding: 2%;
}
@media (max-width: 500px) {
  .main_nosotros #nosotros {
    width: 45vw;
  }
}
.main_nosotros #nosotros:hover {
  box-shadow: 0 0.1rem 0.4rem rgb(0, 0, 1);
}
.main_nosotros #nosotros_nombre {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.main_nosotros #nosotros_img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_nosotros .nostros_img_item {
  width: 15vw;
}

/* CONTACTO */
.contacto_subtitle {
  text-align: center;
  width: 100%;
  margin-top: 2%;
  margin-bottom: 2%;
}

@media (max-width: 500px) {
  .section_contacto {
    flex-direction: column;
  }
}
.section_contacto .contacto_div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section_contacto .contacto_div .contacto_map {
  margin: 5%;
  width: 50vw;
  display: flex;
}
@media (max-width: 500px) {
  .section_contacto .contacto_div .contacto_map {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3%;
  }
}
.section_contacto .contacto_div .contacto_map .map {
  width: 40vw;
  height: 20vw;
  margin: 10%;
}
.section_contacto .contacto_div .contacto {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 15%;
  margin-bottom: 10%;
}
@media (max-width: 500px) {
  .section_contacto .contacto_div .contacto {
    justify-content: center;
    margin-left: 3%;
  }
}
.section_contacto .contacto_div .contacto .contacto_item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.section_contacto .contacto_div .contacto .contacto_item .contacto_img_ubi, .section_contacto .contacto_div .contacto .contacto_item .contacto_img_mail, .section_contacto .contacto_div .contacto .contacto_item .contacto_img_wsp {
  height: 3vw;
}
@media (max-width: 500px) {
  .section_contacto .contacto_div .contacto .contacto_item .contacto_img_ubi, .section_contacto .contacto_div .contacto .contacto_item .contacto_img_mail, .section_contacto .contacto_div .contacto .contacto_item .contacto_img_wsp {
    height: 8vw;
  }
}

.contacto_for {
  padding: 3vw;
}
.contacto_for form {
  width: auto;
}

.row {
  margin: 1%;
  padding: 1%;
  border: 1px solid black;
  border-radius: 15px;
}

* {
  padding: 0;
  margin: 0;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1 {
  font-weight: 800;
}

a {
  text-decoration: none;
  width: auto;
}

.section_contacto {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}/*# sourceMappingURL=main.css.map */