@import 'color';
@import 'mixin';
@import 'mapas';
@import 'each';

.main_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $colorFondo;
    & &_subtitle {
        margin-top: 2%;
        margin-bottom: 2%;
        width: 100%;
        text-align: center;
        font-size: 2vw;
    }
    & &_section1  {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    & &_section2  {
        @extend .main_content_section1; //extensión de las propiedades de section1
    }
    & &_img1 {
        margin: 5%;
        display: flex;
        justify-content: center;
        @include widthImg(50vw, 15px); //inclusión del mixin con propiedades de tamaño
    }
    & &_img2 {
        @extend .main_content_img1; //extensión de las propiedades de img1
        @include widthImg(32vw, 15px); //inclusión del mixin con propiedades de tamaño
    }
    & &_text {
        margin: 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 75%;
        color: $colorTexto;
    }
}

// utilización de map-get
.section_contacto {
    display: map-get($estilos, disp);
    justify-content: map-get($estilos, justCont);
    width: map-get($estilos, anchura);
}
