// HEADER

.main_header {
    width: 100%;
    background-image: linear-gradient(
        to bottom right,
        rgb(6, 243, 132) 0%,
        rgb(6, 243, 38) 40%,
        rgb(140, 243, 6) 60%,
        rgb(227, 243, 6) 100%
    );
    display: flex;

    &_img {
        width: 10vw;
        margin: 1vw;
    }

    &_text {
        width: 100%;
        @include flex(flex, center, center, row);
        font-size: 2.5vw;
        @media (max-width:620px)
        {
            text-align: center;
        }
    }

    .header_img_a {
        @media (max-width:500px)
        {
            @include flex(flex, center, center, row);
            margin-left: 5%;
        }
    }
}