.main_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #60fc30; }
  .main_content .main_content_subtitle {
    margin: 2%;
    width: 100%;
    text-align: center;
    font-size: 2vw; }
  .main_content .main_content_section1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
  .main_content .main_content_section2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
  .main_content .main_content_img1 {
    margin: 5%;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    width: 50vw; }
  .main_content .main_content_img2 {
    margin: 5%;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    width: 32vw; }
  .main_content .main_content_text {
    margin: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
    color: #ff5100; }
