* {
    padding: 0;
    margin: 0;
}

html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a {
    text-decoration: none;
    width: auto;
}


/* HEADER */

header {
    background-image: linear-gradient(
    to bottom right,
    rgb(6, 243, 132) 0%,
    rgb(6, 243, 38) 40%,
    rgb(140, 243, 6) 60%,
    rgb(227, 243, 6) 100%
    );
    display: flex;
}

.header_text {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5vw;
}

.header_img {
    width: 10vw;
    margin: 1vw;
}

h1 {
    font-weight: 800;
}

/* NAV */

.main_nav {
    background-color: rgb(24, 34, 29);
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_list {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
}

.nav_list_item {
    list-style-type: none;
    text-decoration: none;
    width: auto;
    display: flex;
    font-size: 1.5vw;
}

.item {
    text-decoration: none;
    color: rgb(243, 188, 6);
    text-align: center;
    display: flex;
    width: auto;
}

.item :hover {
    background-color: rgb(6, 243, 132);
    color: rgb(24, 34, 29);
    text-decoration: none;
    text-align: center;
    display: flex;
    width: auto;
}

/* FOOTER */

footer {
    width: 100%;
    color: white;
    background-color: rgb(24, 34, 29);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    bottom: 0;
    margin-top: auto;
}

.footer_text {
    margin-top: 1%;
}

.social_nets {
    display: flex;
}

#icon_social {
    margin: 10%;
}

.icon_tw, .icon_ig, .icon_yt {
    width: 2.5vw;
}

/* PROYECTOS */

.main_proyectos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.proyectos_subtitle {
    margin: 2%;
    width: 100%;
    text-align: center;
    font-size: 2vw;
}

.proyectos  {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 15px;
    margin: 5%;
    padding-bottom: 2%;
}

.proyectos:hover {
    box-shadow: 0 0.1rem 0.4rem rgb(0, 0, 0.8);
}

#proyectos_text {
    margin: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.proyectos_text2 {
    text-align: center;
}

.proyectos_img_sprai {
    height: 20vw;
}

.proyectos_img_detectorco2 {
    height: 10vw;
}

.proyectos_img_controlpuerta {
    height: 13vw;
}

/* PRODUCTOS */

.main_productos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.productos_subtitle {
    margin: 2%;
    width: 100%;
    text-align: center;
}

.card, .card1 {
    display: flex;
    align-items: center;
    margin: 1%;
    margin-left: 5%;
    padding-bottom: 2%;
}

.card {
    justify-content: center;
}

.productos_card {
    display: flex;
    align-items: center;
}

#productos_text {
    margin-left: 5%;
}

.productos_img_dispelctr, .productos_img_impresora3d, .productos_img_pcb, .productos_img_rpa {
    height: 20vw;
}

/* NOSOTROS */

.main_nosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nosotros_subtitle {
    margin: 2%;
    width: 100%;
    text-align: center;
}

.nosotros_section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin: 3vw;
}

#nosotros {
    height: 25vw;
    width: 20vw;
    border: 1px solid black;
    border-radius: 15px;
    padding: 2%;
}

#nosotros:hover {
    box-shadow: 0 0.1rem 0.4rem rgb(0, 0, 0.8);
}

.nosotros_roles {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.card-body {
    text-align: center;
}


#nosotros_nombre {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#nosotros_img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nostros_img_item {
    width: 15vw;
}

.nosotros_roles_item {
    display: flex;
    text-align: center;
}



.nosotros_img_equipo {
    width: 25vw;
    border-radius: 15px;
}


.nosotros_text {
    width: 60%;
}

.card1 {
    justify-content: space-between;
    margin-right: 2vw;
}

/* CONTACTO */

.contacto_subtitle {
    text-align: center;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.contacto {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 15%;
    margin-bottom: 10%;
}

.contacto_item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.contacto_img_ubi, .contacto_img_mail, .contacto_img_wsp {
    height: 3vw;
}


.contacto_map {
    margin: 5%;
    width: 50vw;
    display: flex;
}

.map {
    width: 40vw;
    height: 20vw;
    margin: 10%;
}

.contacto_for {
    padding: 3vw;
}

form {
    width: auto;
}

.row {
    margin: 1%;
    padding: 1%;
    border: 1px solid black;
    border-radius: 15px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 45vw;
    border-radius: 15px;
    padding: 1%;
    margin-bottom: 5%;
}

.contacto_div {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* GRID TEMPLATE AREAS */

.main_header {
    grid-area: header;
}

.main_nav {
    grid-area: nav;
}

.main_content {
    grid-area: content;
}

.main_footer {
    grid-area: footer;
}

/* GRID */

.wrapper {
    display: grid;
    grid-template-areas:
    "header"
    "nav"
    "content"
    "footer";
}

/* MEDIA QUERIES */

@media (max-width:500px)
{
    .wrapper {
        grid-template-columns: 0.5fr 2fr;
        grid-template-areas:
        "header header"
        "nav content"
        "nav content"
        "footer footer";
    }

    /* header */

    .header_text {
        text-align: center;
    }

    .header_img_a {
        display: flex;
        justify-items: center;
        align-items: center;
        margin-left: 5%;
    }

    /* nav */

    .main_nav {
        height: 100%;
        background-color: rgb(24, 34, 29);
    }

    .nav_list {
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;
    }

    .nav_list_item {
        display: flex;
        margin: 5%;
    }

    /* index */

    .index_section1, .index_section2 {
        display: flex;
        flex-direction: column;
    }

    /* proyectos */

    .main_proyectos {
        align-items: center;
    }

    .proyectos_section {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 3%;
    }

    .proyectos  {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
        border-radius: 15px;
        margin: 1%;
        width: 70%;
    }

    #proyectos_img {
        height: 30vw;
    }

    /* productos */

    .productos_section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #productos_text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card {
        flex-direction: column;

    }

    #productos_img {
        margin: 5%;
    }

    .productos_card {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* nosotros */

    .main_nosotros {
        display: flex;
        align-items: center;
    }

    .card1 {
        display: flex;
        flex-direction: column;
    }

    .nosotros_text {
        padding: 15%;
        width: 100%;
    }

    .nosotros_section {
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 1vw;
    }

    #nosotros {
        width: 45vw;
    }

    .nosotros_roles {
        height: auto;
        margin: 0%;
        padding: 0%;
    }

    .nosotros_img_equipo {
        width: 50vw;
    }

    /* contacto */

    .section_contacto {
        flex-direction: column;
    }

    .contacto_map {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 3%;
    }

    .contacto {
        justify-content: center;
        margin-left: 3%;
    }

    .form {
        flex-direction: row;
    }

    .div_cont {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .div1, .div2, .div3 {
        display: flex;
        flex-direction: column;
        height: 8vw
    }

    .contacto_img_ubi, .contacto_img_mail, .contacto_img_wsp {
        height: 8vw;
    }

    /* footer */
    .icon_tw, .icon_ig, .icon_yt {
        width: 5vw;
    }

    .footer_text {
        margin-top: 5%;
    }
}

