* { 
    padding: 0;
    margin: 0;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  min-height: 100vh;
}

/* HEADER */

header {
  background-image: linear-gradient(
    to bottom right,
    rgb(6, 243, 132) 0%,
    rgb(6, 243, 38) 40%,
    rgb(140, 243, 6) 60%,
    rgb(227, 243, 6) 100%
  );
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
}

.header_img {
  /* left: 5px;
  width: 100px;
  height: 100px; */
  display: flex;
  align-items: center;
}

.header_text {
  /* top: 5px;
  left: 120px;
  font-size: 65px; */
  font-size: 400%;
  display: flex;
  align-items: center;
}

.nav_bar_list {
  /* padding: 0;
  margin: 0; */
  background-color: rgb(24, 34, 29);
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}

li {
  height: 50px;
  text-align: center;
  width: 150px;
  display: flex;
  align-items: center;
}

.item {
  text-decoration: none;
  color: rgb(243, 188, 6);
  text-align: center;
  display: flex;
}

.item :hover {
  height: 35px;
  background-color: rgb(6, 243, 132);
  color: rgb(24, 34, 29);
}

/* INDEX */

.main_content {
    display: flex;
    flex-direction: column;
    /* text-align: center; */
}

.index_section1 {
    display: flex;
    flex-direction: column;
}

.index_section2 {
    display: flex;
    flex-direction: column;
}

.index_text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img1 {
  position: relative;
  left: 90px;
  border-radius: 10px;
  display: flex;
}

.img2 {
  position: relative;
  left: 275px;
  border-radius: 10px;
  display: flex;
}

/* .texto_index {
  background-image: url(assets/ai_fondo.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(241, 241, 241);
  border-radius: 15px;
  font-weight: 600;
  text-align: center;
  position: relative;
} */

/*  */

.wrapper {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
}

/* FOOTER */

footer {
    bottom: 0;
    margin-top: auto;
  position: relative;
  left: 0px;
  bottom: 0px;
  height: 30px;
  width: 100%;
  background-color: rgb(24, 34, 29);
}

.icon_yt {
  float: right;
  position: relative;
  right: 40px;
  bottom: -4px;
  width: 30px;
}

.icon_ig {
  float: right;
  position: relative;
  right: 20px;
  bottom: -3px;
  width: 23px;
}

.icon_tw {
  float: right;
  position: relative;
  right: 5px;
  bottom: -3px;
  width: 28px;
}

.texto_footer {
  position: relative;
  left: 20px;
  float: left;
  color: whitesmoke;
}

/* PROYECTS */

.proyectos {
  margin: 1rem 0 1rem;
  border: solid black 0.1px;
  border-radius: 0.5rem;
  padding: 0.25rem;
}

.proyectos:hover {
  box-shadow: 0 0.1rem 0.4rem rgb(0, 0, 0.8);
}

.proyectos__titulo {
  position: relative;
  text-align: center;
}

#proyectos__texto {
  display: inline-block;
  width: 700px;
  position: relative;
  left: 50px;
}

.proyectos__texto__sprai {
  top: -80px;
}

.proyectos__texto__detector {
  top: -25px;
}

.proyectos__texto__control {
  top: -40px;
}

#proyectos__img {
  display: inline-block;
  width: 230px;
  position: relative;
  right: -200px;
}

.proyectos__img__sprai {
  top: 10px;
  height: 230px;
  position: relative;
  display: inline-block;
  right: -230px;
}

.proyectos__img__detectorco2 {
  top: 10px;
}

.proyectos__img__controlpuerta {
  top: 10px;
}

h4 {
  color: rgb(0, 160, 85);
}

/* PRODUCTOS */

.productos__titulo {
  position: relative;
  text-align: center;
}

#productos__img {
  display: inline-block;
  height: 250px;
  position: relative;
}

.productos__img__dispelctr {
  top: 20px;
  right: -70px;
}

.productos__img__impresora3d {
  top: 20px;
  right: -150px;
}

.productos__img__pcb {
  top: 10px;
  right: -70px;
}

.productos__img__rpa {
  top: 10px;
  right: -70px;
}

#productos__texto {
  display: inline-block;
  width: 700px;
  position: relative;
  left: 50px;
}

.productos__texto__dispelectr {
  top: -60px;
}

.productos__texto__impresora3d {
  top: -80px;
}

.productos__texto__pcb {
  top: -80px;
}

.productos__texto__rpa {
  top: -80px;
}

.card {
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.card > .productos__texto__dispelectr {
  position: absolute;
  z-index: -1;
  object-fit: cover;
  transition: transform 200ms;
}

.card:hover > .productos__texto__dispelectr {
  transform: scale(1.05);
}

.card > .productos__texto__impresora3d {
  position: absolute;
  z-index: -1;
  object-fit: cover;
  transition: transform 200ms;
}

.card:hover > .productos__texto__impresora3d {
  transform: scale(1.05);
}

.card > .productos__texto__pcb {
  position: absolute;
  z-index: -1;
  object-fit: cover;
  transition: transform 200ms;
}

.card:hover > .productos__texto__pcb {
  transform: scale(1.05);
}

.card > .productos__texto__rpa {
  position: absolute;
  z-index: -1;
  object-fit: cover;
  transition: transform 200ms;
}

.card:hover > .productos__texto__rpa {
  transform: scale(1.05);
}

/* NOSOTROS */

.nosotros__titulo {
  position: relative;
  text-align: center;
}

#nosotros {
  display: inline-block;
  position: relative;
  text-align: center;
  width: 330px;
  margin: 10px;
}

#nosotros:hover {
  box-shadow: 0 0.1rem 0.4rem rgb(0, 0, 0.8);
}

.nosotros__ceo {
  border: solid black 0.1px;
  border-radius: 0.5rem;
  position: relative;
  text-align: left;
  left: 20px;
  top: -18px;
}

.nosotros__coo {
  border: solid black 0.1px;
  border-radius: 0.5rem;
  position: relative;
  text-align: center;
  top: -27px;
  right: -65px;
}

.nosotros__cto {
  border: solid black 0.1px;
  border-radius: 0.5rem;
  position: relative;
  text-align: right;
  top: 20px;
  right: -120px;
  height: 320px;
}

#nosotros__img {
  position: relative;
  text-align: center;
}

.nosotros__texto {
  display: inline-block;
  position: relative;
  width: 500px;
  top: 30px;
  left: 70px;
  margin: 0 auto;
  overflow: hidden;
}

.card > .nosotros__texto {
  position: absolute;
  z-index: -1;
  object-fit: cover;
  transition: transform 200ms;
}

.card:hover > .nosotros__texto {
  transform: scale(1.05);
}

.nosotros__img__equipo {
  display: inline-block;
  position: relative;
  width: 500px;
  top: 0px;
  margin: 20px;
  left: 650px;
}

.nosotros__roles {
  padding: 0;
  margin: 10px;
  display: inline-block;
  position: relative;
  text-align: center;
}

.nosotros__roles__item {
  display: block;
  height: 40px;
  width: 300px;
}

#nosotros__nombre {
  color: rgb(0, 160, 85);
}

/* CONTACTO */

.contacto__titulo {
  position: relative;
  text-align: center;
}

.contacto__map {
  position: relative;
  float: right;
  left: -20px;
  top: 80px;
}

.contacto__form {
  /*
  background-color: rgb(177, 250, 216); */
  display: inline-block;
  position: relative;
  right: -5px;
  width: 500px;
  top: 20px;
  margin: 10px;
  border: solid black 0.1px;
  border-radius: 0.5rem;
}

.contacto__form:hover {
  box-shadow: 0 0.1rem 0.4rem rgb(0, 0, 0.8);
}

.contacto {
  display: inline-block;
  position: relative;
  margin: 30px;
  left: -10px;
  top: -10px;
}

.contacto__texto__ubi {
  display: inline-block;
  position: relative;
  left: 20px;
}

.contacto__texto__mail {
  display: inline-block;
  position: relative;
  left: 20px;
}

.contacto__texto__wsp {
  display: inline-block;
  position: relative;
  left: 20px;
}

.contacto__img__ubi {
  position: relative;
  top: 6px;
  right: -15px;
}
.contacto__img__mail {
  position: relative;
  top: 8px;
  right: -13px;
}

.contacto__img__wsp {
  position: relative;
  top: 6px;
  right: -15px;
  width: 25px;
}


